body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
  }
  
  header label {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

header time,
header em {
  display: block;
  text-align: right;
}

#selected-time,
#any-time {
  display: block;
  font-size: 0.9em;
}

#any-time {
  font-style: italic;
  color: #666;
}

#map {
    width: 100%;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

#map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  svg circle {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
  
    fill: var(--color);
    fill-opacity: 0.6;
    stroke: white;
    stroke-width: 1;
    pointer-events: auto;
  }

  
  #legend {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    font-size: 0.9em;
    margin: 0 auto;
    border-top: 1px solid #ccc; padding-top: 0.5em;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    gap: 0.3em;
  }
  
  .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  .dot.departures {
    background-color: steelblue;
  }
  
  .dot.balanced {
    background-color: mediumorchid; /* pick a mix color you use */
  }
  
  .dot.arrivals {
    background-color: darkorange;
  }
  